 .post{
    margin-bottom: 1em;
    padding: 1em 0;
    border-bottom: 1px solid grey;
}
h1, h2{
    margin-bottom: 0;
}
.post-subtitle{
    padding: .5em 0;
}
.post-body{
    padding-top: 1em;
    font-size: large;
}